* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  background: linear-gradient(
    167deg,
    rgba(159, 255, 135, 1) 4%,
    rgba(51, 208, 132, 1) 89%
  );
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 50px;
  height: 30%;
  text-align: center;
}

.show-modal {
  width: 25%;
  background-color: white;
  height: 70px;
  border-radius: 40px;
  padding-top: 5px;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  border: none;
  outline: none;
}
.hidden {
  display: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}
